h2 {
  font-size: 48px;
  font-weight: 700;
  font-variant: small-caps;
  margin-bottom: 24px;

  em {
    color: var(--color-primary);
    font-style: italic;
  }
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

p {
  font-weight: 300;

  em {
    color: var(--color-primary);
    font-style: normal;
  }

  strong {
    font-weight: 700;
  }
}

/*********** Quote ***************/

/*********************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h2 {
    font-size: 48px;
    font-weight: 700;
    font-variant: small-caps;
    margin-bottom: 24px;

    em {
      color: var(--color-primary);
      font-style: italic;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
